*, *::before, *::after {
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;

  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  background-color: #849d8f;
}

.wrap {
  margin: 0 auto;
  padding: 0 27px;
  width: 1200px;

}

.index-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.text-field {
  line-height: 24px;
  height: 44px;
  padding-left: 15px;
  color: #999999;
  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}
.text-field--search {
  width: 311px;
}

.btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  background-image: linear-gradient(0, #e74a35, #f26843);
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
}
.btn:active {
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to top, #e74a35, #f26843);
}
/*HEADER*/

.header {
  position: relative;
  padding-top: 9px;
  z-index: 1;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top-left {
  display: flex;
  align-items: center;
}
.header-logo{
  margin: 0;
}
.nav-list,
.top-btn-list {
  padding: 0;
  margin: 0;
  margin-left: 10px;
  display: flex;
  list-style: none;
}
.nav-item {
  position: relative;
  margin: 0;
  margin-bottom: 11px;
}

.nav-select {
  position: absolute;
  display: none;
  padding: 7px 0 6px 0;
  left: 0;
  top: 35px;
  width: 143px;
  list-style: none;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
}
.nav-select-link {
  display: block;
  padding: 6px 0 8px 20px;
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}
.nav-select-item:first-child::after {
  position: absolute;
  content: "";
  top: 38px;
  left: 6px;
  width: 128px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

.nav-select-link:hover{
  background-color: #fbded7;
}
.nav-select-link:active{
  background-color: #f6b5a5;
}
.nav-select-link--active {
  /* background-color: #d07058; */
  font-weight: 700;
}

.nav-link {
  display: block;
  padding: 9px 13px 10px 14px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  line-height: 18px;
}
.nav-link span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-link:hover,
.nav-link:focus {
  color: #333333;
  border-radius: 30px;
  background-color: #ffffff;
  text-decoration: none;
}
.nav-link-active {
  display: block;
  padding: 9px 14px;
  text-decoration: none;
  color: #ffffff;
  line-height: 18px;
  font-weight: 700;
  background-color: #d07058;
  border-radius: 30px;
}
.nav-item:hover .nav-select {
  display: block;
}
.nav-link:active {
  box-shadow: inset 0 2px 1px 0 #696969;
  background-color: #ededed;
}

.top-btn-list {
  margin-bottom: 10px;
}
.top-btn-item {
  position: relative;
}
.top-btn {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 6px 17px 6px 16px;
  margin: 0;
  border: none;
  border-radius: 15px;
  color: #ffffff;
  font-weight: 500;
  line-height: 16px;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.2);
}
.top-btn span {
  margin-left: 7px;
}
.top-btn--search {
  padding: 8px;
}
.top-btn-item:hover .form-search {
  display: flex;
}
.top-btn-item:hover .form-enter {
  display: block;
}

.top-btn-item{
  margin-left: 10px;
}
.top-btn:hover,
.top-btn:focus {
  color: #323232;
  background-color: #ffffff;
}
.top-btn:hover g{
  fill: black;
}

.form-search {
  display: none;
  position: absolute;
  left: -308px;
  justify-content: center;
  align-items: center;
  width: 341px;
  height: 84px;
  background-color: #ffffff;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.form-enter {
  display: none;
  position: absolute;
  padding: 20px 17px 22px 19px;;
  width: 277px;
  text-align: center;
  border-radius: 5.1px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}
.form-enter .btn {
  width: 100px;
}
.form-enter .text-field {
  width: 240px;
}
.form-enter-list {
  padding: 0;
  list-style: none;
  width: 120px;
  text-align: left;
}
.form-enter-link {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
}
.form-enter-link:hover,
.form-enter-link:focus,
.form-enter-link:active {
  color: #e84d37;
}

  /*BASKET*/

.basket {
  width: 540px;
  background-color: #f8f7f4;
  border-radius: 5px;
}
.basket-item {
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}
.basket-price span {
  color: #999999;
}
.basket-total {
  text-align: right;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;

}

.heder-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/*BREADCRUMBS*/

.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.breadcrumbs-item, .breadcrumbs-link {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
.breadcrumbs-item span {
  margin: 0 5px;
}

/*HEADER-CONTACT*/

.header-contact {
  text-align: right;
  font-weight: 700;
}
.header-contact-time {
  margin: 0;
  margin-top: -5px;
  font-size: 14px;
  line-height: 16px;
}
.header-contact-tel {
  margin: 0;
  font-size: 22px;
  line-height: 24px;
}

/*MAIN*/

.main-header {
  margin-top: 3px;
  margin-bottom: 25px;
  font-size: 35px;
  line-height: 42px;
  font-weight: 700;
}

/*SLIDER*/

.slider {
  position: relative;
  margin-top: -155px;
  margin-bottom: -235px;

}

.slider-inner {
  overflow: hidden;
}
.slider-slides {
  display: flex;
  width: 300%;
}
.slider-slide {
  width: 100%;
  text-align: center;
}
.slider-slide img {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: -606px;

}
.slider-slide h2 {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  margin-top: 434px;
  margin-bottom: 30px;
  width: 680px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}
.slider-slide .btn{
  position: relative;
  z-index: 1;
  padding: 10px 40px;
  font-size: 32px;
  line-height: 44px;
}
.slider-controls {
  position: absolute;
  left: 0;
  bottom: 300px;
  z-index: 5;
}
.slider-controls label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 21px;
  height: 21px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.slider-radio {
  display: none;
}
#btn-1:checked ~ .wrapper label[for="btn-1"],
#btn-2:checked ~ .wrapper label[for="btn-2"],
#btn-3:checked ~ .wrapper label[for="btn-3"] {
  background-color: #ffffff;
}
#btn-1:checked ~ .wrapper .slider-slides {
  transform: translateX(0);
}
#btn-2:checked ~ .wrapper .slider-slides {
  transform: translateX(-1146px);
}
#btn-3:checked ~ .wrapper .slider-slides {
  transform: translateX(-2292px);
}
#btn-1:checked ~ .wrapper {
  background-color: #849d8f;
}
#btn-2:checked ~ .wrapper {
  background-color: #8996a6;
}
#btn-3:checked ~ .wrapper {
  background-color: #9d8b84;
}

/*HOT OFFER*/

.hot-offer {
  position: relative;
  z-index: 5;
  width: 560px;
  padding: 18px 21px 23px 19px;
  margin-bottom: 35px;
  border-radius: 15px;
  background-color: gray;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
}
.hot-offer-header {
  margin: 0;
  text-align: left;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}
.hot-offer-descr {
  margin: 0;
  margin-top: 15px;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}
.hot-offer .btn {
  margin-top: 43px;
  padding: 0 22px;
  height: 46px;
}
.hot-offer--raspberries {
  background-image: url('../img/backgrounds/raspberries.jpg');

}
.hot-offer--shocolate {
  background-image: url('../img/backgrounds/choco-chips.jpg');
}

/*PRODUCTS FILTER*/

.filters {
  margin-bottom: -60px;
}

.filtres-form {
  display: flex;
  margin-bottom: 80px;
  width: 860px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.filter {
  padding: 0;
  margin: 0;
  margin-bottom: 13px;
  border: none;
}
.filter-body {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 9px 22px 9px 10px;
  list-style: none;

  margin: 0;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 30px;
}
.filter-subtitle {
  padding-left: 15px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}
.filter-name {
  line-height: 18px;
  font-weight: 500;
}

      /*filter-sort*/

.filter-sort {
  position: relative;
}
.filter-sort-list {
  padding: 8px 5px 10px 14px;
  width: 193px;
  background: none;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.filter-sort:hover .filter-sort-list,
.filter-sort:active .filter-sort-list{
  background-color: #ffffff;
  color: #000000;
}
.filter-sort:hover path,
.filter-sort:active path {
  fill: #000000;
}
.filter-sort svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;
  pointer-events: none;
}

    /*filter-range*/

.filter-range {
  position: relative;
  display: flex;
  padding: 15px 21px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 30px;
}
.filter-range input {
  display: none;
}
.scroll-bar-left {
  width: 16px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}
.scroll-bar-center {
  width: 107px;
  height: 4px;
  background-color: #fff;
}
.scroll-bar-right {
  width: 53px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}
.scroll-bar-param {
  width: 20px;
  height: 22px;
  background-image: url("../img/icons/filter-button.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.scroll-bar-param--left {
  left: 32px;
}
.scroll-bar-param--right {
  left: 130px;
}
.scroll-bar-param:hover {
  width: 22px;
  height: 24px;
  transform: translate(-1px,-50%);
}

      /*radio-input*/

.radio-input {
  display: none;
}
.radio-label {
  position: relative;
  padding-left: 32px;
}
.radio-label::before {
  position: absolute;
  z-index: 1;
  top: -4px;
  left: 0;
  content: "";
  width: 25px;
  height: 25px;
  background-image: url("../img/icons/radio-off.svg");
  background-repeat: no-repeat;
  opacity: 0.8;
}
.radio-input:checked + .radio-label::before {
  background-image: url("../img/icons/radio-on.svg");
}

      /*checkbox-input*/

.checkbox-input {
  display: none;
}
.checkbox-label {
  position: relative;
  padding-left: 32px;
}
.checkbox-label::before {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  content: "";
  width: 23px;
  height: 23px;
  background-image: url("../img/icons/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.8;
}
.checkbox-input:checked + .checkbox-label::before {
  background-image: url("../img/icons/checkbox-on.svg");
  width: 27px;
}

.filter--price {
  width: 220px;
}
.filter--fit {
  width: 415px;
}
.filter--additives {
  width: 703px;
}

.filter-btn {
  margin-top: 12px;
  padding: 6px 25px 9px 31px;;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  border-radius: 30px;
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}
.filter-btn:hover,
.filter-btn:focus {
  color: #323232;
  background-color: #ffffff;
}
.filter-btn:active {
  color: #323232;
  border: none;
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
}

/*PRODUCTS*/

.products {
  margin-bottom: 5px;
}
.products-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -13px;
  margin-right: -13px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.products-item {
  margin-bottom: -44px;

  width: 25%;
}
.products-item:hover {
  background-color: rgba(248, 247, 244, 0.2);
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  z-index: 1;
}

.products-item:hover .btn {
  display: block;
}
.product {
  position: relative;
  margin: 0 auto;
  margin-top: 6px;
  width: 266px;
  padding-bottom: 77px;
  text-align: center;
}
.product--hit::before {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  background-image: url("../img/icons/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}
.product-price {
  margin: 0;
  margin-top: -63px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
}
.product-price span {
  font-size: 45px;
}
.product-link {
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
}
.product-link:hover,
.product-link:active,
.product-link:focus {
  color: #ffbc9e;
}
.product-link span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.product-link:hover span,
.product-link:active span,
.product-link:focus span {
  border-color: #ffbc9e;
}
.product .btn {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 22px;
  padding: 13px 17px;
}

/*STORE-DESC*/

.store-desc{
  margin-bottom: 40px;
  padding: 25px 25px 15px 20px;
  width: 1146px;
  border-radius: 15px;
  color: #323232;
  background-image: url('../img/backgrounds/wafer.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.store-desc-header {
  margin: 0;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}
.store-desc-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}
.store-desc-item {
  position: relative;
  padding-top: 13px;
  padding-bottom: 8px;
  padding-left: 57px;
  width: 535px;
}
.store-desc-item::before{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 49px;
  height: 49px;
  background-color: transparent;
}
.store-desc-item:nth-child(1)::before {
  background-image: url("../img/icons/ice-cream.svg");
}
.store-desc-item:nth-child(2)::before {
  background-image: url("../img/icons/cow.svg");
}
.store-desc-item:nth-child(3)::before {
  background-image: url("../img/icons/eco.svg");
}
.store-desc-item:nth-child(4)::before {
  background-image: url("../img/icons/thermometer.svg");
}

/*NEWS*/

.news{
  width: 560px;
  min-height: 220px;
  margin-bottom: 40px;
  padding: 23px 20px;
  color: #323232;
  border-radius: 15px;
  background-image: url('../img/backgrounds/strawberry.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.news-header {
  margin: 0;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
.news-descr {
  margin: 0;
  width: 285px;
}
.news-link {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #323232;
}

/*MAILING*/

.mailing{
  width: 560px;
  min-height: 220px;
  margin-bottom: 40px;
  padding: 4px 5px 5px 5px;
  color: #5a5a5a;
  border-radius: 15px;
  background-image: url('../img/backgrounds/bg-post.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.mailing-inner{
  width: 549px;
  min-height: 210px;
  padding: 30px 20px 20px 20px;
  border-radius: 10px;
  background-color: #f8f7f4;
  border: 1px solid #f8f7f4;
}
.mailing-descr {
  margin: 0;
  margin-bottom: 35px;
}
.mailing .btn {
  padding: 10px 22px;
  width: 129px;
}
.mailing .text-field {
  width: 368px;
  margin-right: 5px;
}

/*MAP*/

.map {
  padding: 63px 0;
  margin: 0 auto;
  position: relative;
}
.map-img {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: 1;
  margin: 0 auto;
}
.map-descr {
  position: relative;
  z-index: 5;
  margin-left: calc(50% + 270px);
  padding: 30px 25px;
  width: 302px;
  text-align: center;
  color: #323232;
  background-color: #ffffff;
  border-radius: 10px;
}
.map-label {
  width: 175px;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}
.map-wrap {
  text-align: left;
  margin-bottom: 17px;
}
.map-content {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
.map-pin {
  position: absolute;
  z-index: 5;
  top: 138px;
  left: 50%;
}
.map .btn {
  padding: 10px 27px;
  margin-top: 15px;
  width: 252px;
}

/*PAGINATION*/
.pag {
  margin-bottom: 30px;
}

.pag-list {
  padding-top: 30px;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.pag-item {
  margin-left: 1px;
}

.pag-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 50%;
}
.pag-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #323232;
}
.pag-link--active {
  background-color: rgba(255, 255, 255, 1);
  color: #323232;
}
.pag-link--prev {
  transform: rotate(180deg);
}

.hr {
  height: 1px;
  background-color: rgba(248, 247, 244, 0.3);
}

/*FOOTER*/

.footer {
  padding-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin:0;
  list-style: none;
}
.social-item {
  margin-right: 10px;
}
.social-link {
  display: block;
  width: 38px;
  height: 38px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.social-link:hover,
.social-link:focus {
  border-color: rgba(255, 255, 255, 0.7);
}
.social-link:hover path,
.social-link:focus path {
  fill: rgba(255, 255, 255, 1);
}
.social-link:active {
  border-color: rgba(255, 255, 255, 0.7);
}
.social-link:active path {
  fill: rgba(255, 255, 255, 0.8);
}

.additionally-list {
  margin-right: 35px;
  padding: 0;
  list-style: none;
  column-count: 2;
  width: 270px;
}
.additionally-item {
  position: relative;
  margin: 0;
  width: 162px;
}
.additionally-link {
  text-decoration: none;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}
.additionally-link:hover,
.additionally-link:active,
.additionally-link:focus {
  color: #ffbc9e;
}
.additionally-link span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.additionally-link:hover span,
.additionally-link:active span,
.additionally-link:focus span {
  border-color: #ffbc9e;
}

.additionally-item:first-child .additionally-link{
  font-weight: 700;
}
.additionally-item:first-child::before {
  position: absolute;
  top: 5px;
  left: -20px;
  content: "";
  width: 15px;
  height: 13px;
  background-image: url("../img/icons/heart.svg");
  background-repeat: no-repeat;
}

.madein p {
  margin: 0;
}
.madein-descr, .madein-link {
  font-size: 12px;
  color: #fefefe;
}
.madein-link:hover,
.madein-link:focus,
.madein-link:active {
  color: #ffbc9e;
}

.modal-feedback {
  display: none;
  width: 478px;
  border-radius: 10px;
  background-color: #f8f7f4;
}
.modal-feedback h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #323232;
}
.modal-feedback-message {
  width: 428px;
  height: 155px;
  color: #999999;
  line-height: 24px;
  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}
